git rm --cached -r *.tf *.tfvars .terraform
# Exclude these from module packaging
*.tfstate
*.tfstate.*
*.backup
*.log
*.tfvars
.terraform/
*.zip
*.tar.gz
*.pem
*.key
*.crt
*.env
.DS_Store
terra-key
terra-key.pub
terraform/.terraform.lock.hcl
